@import "_colors.scss";
// zaokrąglenie lewego górnego i prawego dolnego rogu
@mixin rounded_border {
    border-radius: 20px 0px;
}

// ogólne ustawienia dla wszystkich dropdown menu
@mixin custom_dropdown {
    // ustawienia pola wyboru
    .custom-dropdown-control {
        background-color: $background_trans_60;
        border-color: $border_color;
        color: $font_main_color;
        svg,
        [class^="css"],
        [class$="singleValue"],
        [class$="placeholder"] {
            color: $font_main_color;
        }
        [class$="indicatorSeparator"] {
            background-color: $font_main_color;
        }
        &:hover {
            border-color: $border_color_hover;
            svg,
            [class$="singleValue"],
            [class$="placeholder"] {
                color: $font_accent_color;
                font-weight: bold;
            }
            [class$="indicatorSeparator"] {
                background-color: $font_accent_color;
            }
        }
        // ustawienia dodawanych elementów w polu wyszukiwania
        [class$="multiValue"] {
            background-color: $background_trans_hover;
            div {
                background-color: transparent;
                color: $font_main_color;
                 :hover {
                    background-color: $button_cancel_color;
                    border-radius: 3px;
                }
            }
        }
    }
    // ustawienia rozwijanego menu
    [class$="menu"] {
        background-color: $background_trans_80;
        .dropdown-option-label,
        .dropdown-option-icons path {
            color: $font_main_color;
        }
        [class$="option"] {
            background-color: transparent;
            &:hover {
                background-color: $background_trans_hover;
                color: $font_accent_color;
                font-weight: bold;
                .dropdown-option-label,
                .dropdown-option-icons path {
                    color: $font_accent_color;
                }
            }
            [class$="active"] {
                &.dropdown-option-label,
                &.dropdown-option-icons path {
                    font-weight: bold;
                    text-decoration: underline $font_main_color;
                }
            }
        }
    }
    // ustawienia rozwijanego menu - brak elementów
    [class*="css"][class*="menu"] {
        background-color: $background_trans_80;
        div div {
            color: $font_main_color;
        }
    }
}

// ogólne ustawienia dla pól wprowadzenia tekstu
@mixin text-input {
    background-color: $background_trans_40;
    input {
        color: $font_main_color;
        border-color: $border_color;
    }
    &:hover input {
        font-weight: bold;
        border-color: $border_color_hover;
    }
    .input-placeholder {
        color: $font_main_color;
    }
}

// ogólne ustawienia dla wszystkich checkboxów
@mixin checkbox-label {
    &::before {
        border-color: $font_accent_color;
        background-color: $font_accent_color_dark;
    }
    &::after {
        border-color: $font_accent_color;
    }
    .checkbox-label-text {
        color: $font_main_color;
    }
}

// ogólne ustawienia dla wszystkich radio buttonów
@mixin radio-label {
    border-color: $border_color;
    &::before,
    &::after {
        border-color: $border_color;
    }
    &::after {
        background-color: $border_color;
    }
    span {
        color: $font_main_color;
    }
}