@import "_colors.scss";
@import "_mixins.scss";

/* scrollbar */

// ustawienia scrollbara dla przeglądarek na webkicie
::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: $background_trans_80;
}

 ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    &:hover {
        background: rgba(255, 255, 255, 0.30);
    }
}


/* tło */

// ustawienie tła-obrazka na wszystkich stornach oraz koloru pod nim
body {
    background-color: $background_trans_80 !important;
    &.anime,
    &.manga,
    &.novel,
    &.settings {
        background-image: url("https://i.imgur.com/avtBiDw.jpeg");
        background-attachment: fixed;
        // tło podczas testowania lokalnie
        //background-image: url("images/background.jpg");
    }
}


/* obrazek - baner */

// usunięcie górnego banneru/obrazka i ramki pod nim
.hero-image-container {
    background-image: none !important;
    box-shadow: none !important;
}


/* navbar */

// dostosowanie głównego menu nawigacyjnego za górze strony
.navigation-wrapper {
    .navigation-background {
        background-color: $background_trans_60;
    }
    .navigation-list-item {
        a,
        button {
            color: $font_main_color;
            background-color: transparent;
            &.is-active {
                border-bottom: 3px solid $border_color_active;
            }
        }
        &:hover {
            a,
            button {
                @include rounded_border;
                background-color: $background_trans_hover;
                color: $font_accent_color;
                &.is-active:hover {
                    border-bottom-color: $border_color_active_hover;
                }
            }
        }
    }
}


/* tabele */

// ogólne ustawienia dla wszystkich tabel
.ReactTable.list-table {
    // ramka nad nagłówkami tabeli
    .rt-table {
        border: none;
        // ustawienia nagłówków tabeli
        .rt-thead {
            background-color: $background_trans_80;
            border: none; // ramka nagłówka - lewa
            // ustawienia komórek nagłówka
            .rt-th {
                background-color: transparent;
                border: none; // ramka komórki nagłówka - prawa
                // ustawienia tytułu nagłówka
                div {
                    background-color: transparent;
                    color: $font_main_color;
                }
                // ustawienia aktywnej strzałki sortowania w nagłówku
                svg.is-active {
                    color: $button_accept_color;
                }
            }
        }
        // ustawienia wiersza tabeli
        .list-rows {
            background-color: transparent;
            border: none; // margines lewy i dolny wiersza tabeli
            &.even {
                background-color: $background_trans_20;
            }
            &.odd {
                background-color: $background_trans_60;
            }
            &:hover {
                background-color: $background_trans_hover;
            }
            // przycisk akcji znajdujący się w wierszu tabeli
            button {
                background-color: $background_trans_80;
                border-color: $border_color;
                color: $font_main_color;
                &:hover {
                    background-color: $background_trans_hover;
                    border-color: $border_color_hover;
                    svg {
                        color: $font_accent_color;
                    }
                }
            }
            // rozwijane mini menu pod przyciskiem akcji w wierszu tabeli
            .dropdown-list {
                background-color: $background_trans_80;
                border-color: $border_color;
                button {
                    color: $font_main_color;
                    &:hover {
                        color: $font_accent_color;
                    }
                }
            }
        }
        // ustawienia komórki tabeli
        .list-cell {
            border: none; // margines prawy komórki tabeli
            // ustawienia napisu będącego linkiem w komórce tabeli
            div>a,
            span>a {
                color: $font_main_color;
                text-shadow: 0px 5px 5px $background_trans_80;
                &:hover {
                    color: $font_accent_color;
                    font-weight: bold;
                }
            }
            // ustawienia napisu nie będącego linkiem w komórce tabeli
            div>span,
            div>div {
                color: $font_main_color;
            }
            // ustawienia informacji pokazywanej w "dymku"
            .__react_component_tooltip {
                border-color: $border_color_hover;
                .react-tooltip {
                    background-color: $background_trans_20;
                    color: $font_main_color;
                }
                &::after {
                    border-bottom-color: $border_color_hover;
                }
            }
        }
        // ustawienia dla tabeli bez wierszy
        .row-empty {
            background-color: $background_trans_60;
            border: none;
        }
    }
    // ustawienia dla tabeli bez wierszy - napis
    p.no-data-children {
        color: $font_main_color;
    }
}


/* doładowywanie */

// zmiana koloru 3 kropek które są widoczne podczas ładowania kolejnych elementów na listach
#dots {
    fill: $font_main_color;
}


/* okna pop-up */

// ustawienia dla wszystkich okienek pop-up wyskakujących po interakcji z przyciskiem
.modal-wrapper {
    // ustawienia tła i obramowania
    .modal-inner {
        background-color: $background_trans_40;
        border-color: $border_color_active;
    }
    // ustawienia tytułu i kreski pod nim
    .modal-header {
        border-color: $font_main_color;
        h4 {
            color: $font_main_color
        }
    }
    // ustawienia "podtytułów"
    div.title-wrapper h4[class^="jsx"] {
        color: $font_main_color
    }
    // ustawienia "podtytułów" z linkami
    h5>span[class^="jsx"] {
        color: $font_main_color;
        a {
            color: $font_main_color;
            &:hover {
                color: $font_main_color;
                text-decoration: underline $font_main_color;
            }
        }
    }
    // ustawienia koloru reszty tekttu i części elemntów
    span,
    p {
        color: $font_main_color;
    }
    // ustawienia pól wpisywania
    div.input-wrapper {
        background-color: $background_trans_40;
        .input-icon svg,
        .input-placeholder {
            color: $font_main_color;
        }
        .input-element {
            border-color: $border_color_active;
            color: $font_main_color;
        }
    }
    // ustawiania oceniania gwiazdkami
    .MuiRating-root {
        .MuiRating-iconEmpty {
            color: $background_trans_hover;
        }
        .MuiRating-iconFilled {
            color: $stars_color;
        }
    }
    // ustawienie zmiany koloru ramki dropdown menu
    .dropdown-wrapper .custom-dropdown .custom-dropdown-control {
        border-color: $background_trans_hover;
    }
    // ustawienia pola tekstowego
    .textarea-wrapper textarea {
        background-color: $background_trans_40;
        border-color: $border_color_active;
        color: $font_main_color;
    }
    // ustawienia checkboxów
    div .checkbox-label {
        @include checkbox-label
    }
    // ustawiania linku do edycji custom list
    .modal-content .modal-customList-box a {
        color: $font_main_color;
        &:hover {
            span {
                color: $font_main_color !important;
            }
            font-weight: bold;
        }
        svg {
            color: $font_main_color;
        }
    }
    // ustawienia przycisku zamykania
    .modal-close {
        background: none;
        svg {
            color: $background_trans_hover;
        }
        &:hover svg {
            color: $font_accent_color;
        }
    }
    // ustawienia przycisków anuluj/zapisz
    .modal-footer {
         :first-child {
            background-color: $background_trans_80;
            border-color: $button_cancel_color;
            color: $button_cancel_color;
            &:hover {
                background-color: $button_cancel_color;
                border-color: $border_color;
                color: $font_accent_color_dark;
                font-weight: bolder;
            }
        }
         :last-child {
            background-color: $background_trans_80;
            border-color: $button_accept_color;
            color: $button_accept_color;
            &:hover {
                background-color: $button_accept_color;
                border-color: $border_color;
                color: $background_trans_80;
                font-weight: bolder;
            }
        }
    }
}